body {
  display: grid;
  grid-template-columns: 200px 1fr;

  .sidebar {
    grid-row: span 2;
  }
}

.sidebar {
  background-color: blue;
}

.header {
  background-color: #fff;
}

.main {
  background-color: rgb(165, 165, 165);
}