body {
  display: grid;
  grid-template-columns: 220px 1fr;

  .sidebar {
    grid-row: span 2;
  }
}

.sidebar {
  background-color: #80DBFF;
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: 25px 1fr;
  align-items: center;

  .empty {
    height: 20px;
  }
}

.header {
  background-color: #144F66;
}

.main {
  background-color: #52A9CC;
}