body {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto 1fr;

  .sidebar {
    grid-row: span 2;
  }
}

.sidebar {
  background-color: #80ffc4;
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: 25px 1fr;
  align-items: center;

  .empty {
    height: 20px;
  }
}

.header {
  background-color: #88ddff;
  padding: 0 10px 5px 10px;

  .up {
    display: flex;
    padding: 10px;
    align-items: center;

    > img {
      margin: 0 10px;
      width: 25px;
      border-radius: 50%;
    }

    input {
      flex: 1;
      border-radius: 10px;
      margin: 0 50px 0 10px;
    }
  }

  .down {
    display: flex;
    padding: 10px;
    align-items: center;

    > img {
      width: 70px;
      height: auto;
      margin-right: 20px;
      border-radius: 50%;
    }

    .welcome {
      flex: 1;

      h4, h1 {
        margin: 0;
      }
    }

    button {
      background-color: rgb(0, 100, 139);
      color: whitesmoke;
      border-radius: 20px;
      margin-left: 20px;
      width: 120px;
      padding: 10px;
    }
  }
}

.main {
  background-color: #52a9cc;
}
